<h1>Edit tip</h1>

<form id="edit-tip" name="tip">
  <div class="field">
    <label for="lat"> lat:</label>
    <input type="text" name="lat" id="lat" value="<%= lat %>" >
  </div>

  <div class="field">
    <label for="long"> long:</label>
    <input type="text" name="long" id="long" value="<%= long %>" >
  </div>

  <div class="field">
    <label for="venue"> venue:</label>
    <input type="text" name="venue" id="venue" value="<%= venue %>" >
  </div>

  <div class="field">
    <label for="text"> text:</label>
    <input type="text" name="text" id="text" value="<%= text %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Tip" />
  </div>

</form>

<a href="#/index">Back</a>