/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.tip-text {
  font-size: 1.2em;
  padding-top: 18px;
  padding-bottom: 18px;
}

#gmap {
  height: 300px;
  width: 90%;
  margin-top: 18px;
  margin-bottom: 18px;
  color: #222;
}

body {
  padding-top: 32px !important;
}

body h1 {
  font-size: 43px;
  margin-top: 0px;
}

.foursquare {
  margin: 0px auto;
  width: 241px;
}

li {
  list-style-type: none;
}

.foursquare a img {
  width: 241px;
  height: 61px;
}

h2 {
  float: left;
}
.tipLink {
  padding: 5px;
  padding-top: 9px;
  float: left;
  opacity:0.5;
  filter:alpha(opacity=50);
}
.clear {
  clear:both;
}

#tips {
  height: 400px;
  width: 800px;
  position: fixed;
  z-index: 99;
  top: 10px
  margin-left: 0px auto;
  background-color: ##2a333c;
  display: none;
  padding: 20px;
}
